footer.footer
  small.footer__left
    span='© 2018 '
    a(href=homepage)=title + '.'
  small.footer__right
    span= 'Desenhado e desenvolvido por '
    a(href='https://sites.workshop.curitiba.br' target='_blank')= 'Workshop Agência & Escola'
    br/
    span='imagem por: '
    a(href="https://unsplash.com/photos/LNDgBERq8Q0" target='_blank')='Kimber Pine'
