footer.footer
  small.footer__left
    span='© 2018 '
    a(href=homepage)=title + '.'
  small.footer__right
    span= 'Desenhado e desenvolvido por '
    a(href='https://nandomoreira.me?ref='.homepage target='_blank')= 'nandomoreira.me'
    br/
    span='imagem por: '
    a(href="https://unsplash.com/photos/LNDgBERq8Q0" target='_blank')='Kimber Pine'
